@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@300;400;800&display=swap');

.App {
    width: 100vw;
    height: 100vh;
    background-color: aqua;
}

.body {
    padding: 0;
    margin: 0;
}

.Sidebar {
    height: 100%;
    color: white;
    background-color: #484A4F;
}

.Sidebar-mobile {
    height: 100%;
    color: white;
    background-color: #484A4F;
}

.SidebarList {
    height: auto;
    width: 100%;
    padding: 0;
}

.SidebarList .row {
    width: 100%;
    height: 50px;
    text-align: center;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.24);
}
.SidebarList a {
    width: 100%;
    height: 50px;
    text-align: center;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.24);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: gold;
}

body {
    margin: 0;
    padding: 0;
}

aside {
  width: 20vw;
  height: 100vh;
}

main {
  width: 100vw;
  height: 100vh;
  background: cornflowerblue;
  color: white;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: #293846;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: scale(1.05);
  transition: transform 0.3s;
}
.SidebarList .addPortfolio {
    color: rgba(255, 255, 255, 0.589);

  }
.SidebarList #active {
  background-color: #293846;
  transform: scale(1.02);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-bottom: 0;
} 

.tick line{
    stroke:#cecece
}
.tick text{
    fill:#635f5d;
    font-size: 0.7em;
}

.axisLabel{
    font-weight: bold;
    fill:#635f5d
}
.mark{
    
    fill:#635f5d;
    fill-opacity: 0.75;
    font-weight: bold;
}
.mark text{
    background-color: bisque;

}
.container{
    margin: auto;
}
svg{
    display:block;
    margin:auto;
}

#assetPage #portfolioName{
    color:#a1a1a1
}
 .bdisplay{
    margin-bottom: 10px;
    min-width: 100px;
    background-color: #FBFCFF;
}
 .bdisplay:hover{
    min-width: 100px;
    transform: scale(1.05);
    background-color: #B9C4E2;
}
.bdisplay.bactive{
    min-width: 100px;
    background-color: #B9C4E2;
}
#transactionPaper{
    margin:0;
    padding:3px;
    width:500px;
}
@media (min-width: 576px) {
    .h-sm-100 {
        height: 100%;
    }
}
@media(max-width:576px){
    #transactionPaper{
        margin:0;
        padding:3px;
        width:300px;
    
    }
}
#transactionCloseButton{
    position:absolute;
    top:20px;
    right:10px;
}
#deleteCardIcon:hover{
    cursor: pointer;
    color:rgb(228, 0, 0)
}
#addCardIcon:hover{
    cursor: pointer;
    color:rgb(0, 228, 0)
}

.widgetcard {
    border: none;
    margin: 2px;
    padding: 2px;
    
}

.widgetbody {
    font-size: 0.5vw;
}

.widgets-panel {
    display: flex;
    height: 100%;
    padding: 1px;
    width: 80%;
    justify-content: right;
}

.title-and-summary {
    /* position: relative;
    margin-top: 2px; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.portfolio-name-and-value {
    width: 20%;
}

.widget-title {
    font-size: 4vw
}

.widget-subtitle {
    font-size: 1.5vw;
}

.webpage-title {
    color: white;
}

.webpage-tagline {
    /* font-size: 5px; */
    color: darkgray
}

.navbar-contents {
    display: flex;
    justify-content: space-between;
}

.assetTableTitle {
    padding-top: 5px;
    font-size: 25px;
}

.table-title-and-button {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.search-text-field {
    margin: auto
}

.table-header-asset-name {
    font-size: 14px;
}

.asset-table-stats {
    font-size: 16px;
}

.subTableHeader {
    font-size: 14px;
}

.asset-table-assetname {
    font-size: 14px;
}

.sidebar-open-btn {
    display: none;
}

.sidebar-open-btn:hover{
    cursor: pointer;
}

.sidebar-mobile-active {
    position: sticky;
    height: 100vh;
    width: 100%;
}

.sidebar-mobile {
    display: none;
}

.main-content-off {
    display: none;
}

.add-txn-btn-text {
    font-size: 0.8rem;
}

.sidebar-mobile-close-btn {
    position: absolute;
    top: 10px,;
    left: 10px;
    color: white;
}

.sidebar-mobile-optn-btn:hover{
    cursor: pointer;
}

.sidebar-mobile-close-btn:hover {
    cursor: pointer;
}

@media screen and (max-width: 900px) {

    .title-and-summary {
        flex-direction: column;
    }

    .widgets-panel {
        width: 100%;
        justify-content: center;
    }

    .widgetcard {
        width: 100%;
        height: auto;
    }

    .widget-subtitle {
        font-size: 10px;
    }

    .portfolio-name-and-value {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 5px;
    }

    .widget-title {
        font-size: 25px;
    }

    .table-title-and-button {
        flex-direction: column;
        margin: 5px 0px
    }

    .assetTableTitle {
        font-size: 1rem;
        text-align: left;
        justify-content: left;
        margin-bottom: -10px;
    }

    #search-text-field {
        margin: 0px 30px 0px 0px;
    } 

    .table-header-asset-name {
        font-size: 10px;
    }

    .subTableHeader {
        font-size: 10px;
    }

    .asset-table-stats {
        font-size: 12px;
    }
    .asset-table-assetname {
        font-size: 12px;
    }
}

@media screen and (max-width:576px) {
    .webpage-tagline {
        font-size: 12px;
        gap: 0px;
        vertical-align: auto;
    }
    .asset-table-stats {
        font-size: 11px;
    }
    .low-priority {
        display: none;
    }
    .asset-table-assetname {
        font-size: 12px;
    }
    .Sidebar {
        display: none;
    }
    .sidebar-open-btn {
        display: inline;
    }
    .add-txn-btn-text {
        font-size: 0.7rem;
    }
}

/* for front-end testing/design purposes */
/* * {
    border:1px solid red !important;
    } */