@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@300;400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: gold;
}

.tick line{
    stroke:#cecece
}
.tick text{
    fill:#635f5d;
    font-size: 0.7em;
}

.axisLabel{
    font-weight: bold;
    fill:#635f5d
}
.mark{
    
    fill:#635f5d;
    fill-opacity: 0.75;
    font-weight: bold;
}
.mark text{
    background-color: bisque;

}