@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@300;400;800&display=swap');

.App {
    width: 100vw;
    height: 100vh;
    background-color: aqua;
}

.body {
    padding: 0;
    margin: 0;
}

.Sidebar {
    height: 100%;
    /* width: 200px; */
    color: white;
    background-color: #484A4F;
}

.SidebarList {
    height: auto;
    width: 100%;
    padding: 0;
}

.SidebarList .row {
    width: 100%;
    height: 50px;
    text-align: center;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.24);
}
.SidebarList a {
    width: 100%;
    height: 50px;
    text-align: center;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.24);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: gold;
}

body {
    margin: 0;
    padding: 0;
}

aside {
  width: 20vw;
  height: 100vh;
}

main {
  width: 100vw;
  height: 100vh;
  background: cornflowerblue;
  color: white;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: #293846;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: larger;
  
}
.SidebarList .addPortfolio {
    color: rgba(255, 255, 255, 0.589);

  }
.SidebarList #active {
  background-color: #293846;
  font-size: larger;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-bottom: 0;
} 

.tick line{
    stroke:#cecece
}
.tick text{
    fill:#635f5d;
    font-size: 0.7em;
}

.axisLabel{
    font-weight: bold;
    fill:#635f5d
}
.mark{
    
    fill:#635f5d;
    fill-opacity: 0.75;
    font-weight: bold;
}
.mark text{
    background-color: bisque;

}
.container{
    margin: auto;
}
svg{
    display:block;
    margin:auto;
}
@media (min-width: 576px) {
    .h-sm-100 {
        height: 100%;
    }
}